@import '../../scss/variables';

.maingpage-container {
  padding: 0 1rem;
  font-family: $rubik;
  
  h3 {
    color: $light-red-1;
  }

  .introduction-container {
    display: flex;
    flex-direction: column;

    img {
      height: 9rem;
    }
  }

  .presentation-container {

    img {
      width: 200px;
    }
  }

  .skills-container {
    margin-top: 2.5rem;

    .spinners-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .languages-container {
    
    .languages-card {
      display: flex;
      position: relative;
      margin-bottom: 1.5rem;

      img {
        width: 8rem;
      }

      .language-description {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
          text-transform: capitalize;
          margin: 0 0 0.5rem;
        }
      }

      &#english {
        flex-direction: row-reverse;
      }
    }

    .clearfix {
      clear: both;
    }

    #english {
      float: right;
    }
  }
  
}
