@import '../../scss/variables';

.mainPageContainer {
  font-family: $rubik;
  background-color: black;
  padding-top: 6rem;

  h3 {
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
  }

  .introductionContainer {
    display: flex;
    flex-direction: column;

    .title {
      background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $ranchers;
      font-size: 6rem;
      margin: 0 auto;
    }

    .subtitle {
      color: white;
    }
  }

  .presentationContainer {
    padding: 0 1rem;
    font-family: $poppins;

    p {
      color: white;
    }

    img {
      width: 200px;
    }
  }

  .skillsContainer {
    margin-top: 3.5rem;
    
    .skillsContent {
      font-family: $poppins;
      display: grid;
      grid-template-columns: repeat(3, 33.3%);
      grid-auto-rows: 8rem;

      .skillCardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          margin-bottom: 0.5rem;
          color: white;
        }
  
        .skillCard {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5rem;
          height: 5rem;
          border-radius: 100%;
          background-color: #ffffff;
  
          img {
            width: 70%;
            height: 70%;
          }
        }
      }
    }
  }

  .languagesContainer {
    padding: 1.5rem 1rem;
    color: white;

    p {
      font-family: $poppins;
    }

    .languagesCard {
      display: flex;
      justify-content: space-around;
      position: relative;
      margin-bottom: 0.2rem;
      width: 100%;
      font-family: $poppins;

      img {
        width: 12rem;
      }

      .languageDescription {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
          text-transform: capitalize;
          margin: 0 0 0.5rem;
        }
      }

      &:global(#english) {
        flex-direction: row-reverse;
      }

    }

    .rowReverse {
      flex-direction: row-reverse;
    }

    .clearfix {
      clear: both;
    }

    #english {
      float: right;
    }
  }
  
}
