@import '../../scss/variables';

.maingpage-container {
  font-family: $rubik;
  
  h3 {
    color: $light-red-1;
  }

  .introduction-container {
    display: flex;
    flex-direction: column;

    h1 {
      font-family: $ranchers;
      font-size: 6rem;
      margin: 0 auto;
    }

    img {
      height: 9rem;
    }
  }

  .presentation-container {
    padding: 0 1rem;

    img {
      width: 200px;
    }
  }

  .skills-container {
    margin-top: 2.5rem;
    padding: 1rem 0;
    background-color: rgba(252, 145, 145, 0.194);
    border-top: 3px solid $light-red-1;
    border-bottom: 3px solid $light-red-1;

    .skills-content {
      display: grid;
      grid-template-columns: repeat(3, 33.3%);
      grid-auto-rows: 8rem;

      .skill-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          margin-bottom: 0.5rem;
        }
  
        .skill-card {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5rem;
          height: 5rem;
          border-radius: 100%;
          background-color: #ffffff;
  
          img {
            width: 70%;
            height: 70%;
          }
        }
      }
    }
  }

  .languages-container {
    padding: 1.5rem 1rem;

    .languages-card {
      display: flex;
      position: relative;
      margin-bottom: 0.2rem;
      width: 100%;

      img {
        width: 8rem;
      }

      .language-description {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
          text-transform: capitalize;
          margin: 0 0 0.5rem;
        }
      }

      &#english {
        flex-direction: row-reverse;
      }

    }

    .dots-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0.5rem;

      .little-dot {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: black;
      }
    }

    .clearfix {
      clear: both;
    }

    #english {
      float: right;
    }
  }
  
}
