@import '../../scss/variables';

.mainPageContainer {
  font-family: $rubik;
  background-color: black;
  padding: 5rem 0 3rem;

  h3 {
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
  }

  .introductionContainer {
    display: flex;
    flex-direction: column;

    .title {
      background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $ranchers;
      font-size: 4rem;
      margin: 0 auto;
    }

    .subtitle {
      color: white;
    }
  }

  .imageContainer {
    img {
      width: 200px;
    }
  }

  .presentationContainer {
    padding: 0 1rem;
    font-family: $poppins;

    p {
      color: white;
    }
  }
  
}

@media (min-width: 650px) {
  .mainPageContainer {
    display: grid;
    grid-template-areas:
      'photo intro'
      'photo presentation';
    padding: 0;
    grid-template-columns: 50% 50%;
    background-color: transparent;
    
    .introductionContainer {
      grid-area: intro;
      align-self: end;
      margin-bottom: 1rem;

      .title{
        font-size: 3rem;
      }

      .subtitle {
        font-size: 1.5rem;
      }
    }

    .imageContainer {
      grid-area: photo;
      align-self: center;
      justify-self: end;

      img {
        width: 100%;
        margin-left: 1.5rem;
      }
    }

    .presentationContainer {
      grid-area: presentation;
      font-size: 1rem;
      align-self: baseline;
    }
  }
}

@media (min-width: 930px) {
  .mainPageContainer {
    grid-template-areas:
        '. photo intro .'
        '. photo presentation .';
    padding: 0;
    grid-template-columns: auto 25% 35% auto;

    .introductionContainer {
      .title{
        font-size: 4rem;
      }
      .subtitle {
        font-size: 2rem;
      }
    }
  }
}
