@import '../../scss/variables';

.card-container {
  width: 80%;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: $black;
  -webkit-box-shadow: 1px 16px 25px -5px $dark-red-1;
  -moz-box-shadow: 1px 16px 25px -5px $dark-red-1;
  box-shadow: 1px 16px 25px -5px $dark-red-1;

  .image-container {
    height: 13rem;

    img {
      height: 100%;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .description-container {
    display: flex;
    flex-direction: column;
    font-family: $rubik;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;

    a {
      color: white;
    }

  }
}