@import '../../scss/variables';

.talksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-top: 6rem;

  h1 {
    font-family: $rubik;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 1.5rem;
  }
}