@import '../../scss/variables';

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey-1;
  color: white;
  font-family: $mitr;
}