.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  height: 100%;
}

.mainContent {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 5rem;
  grid-template-columns: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    display: flex;
    padding: 3rem;
  }

  .desktopContainer {
    border: 1px solid white;
    border-radius: 3rem;
    display: grid;
    grid-template-rows: 5rem auto;
    width: 100%;
  }

  .mainContent {
    min-height: auto;
  }
}
