@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

// Fonts
$rubik: 'Rubik', sans-serif;
$mitr: 'Mitr', sans-serif;

// Colors
$black: #000000;
$dark-grey-1: #353535;
$dark-grey-2: #595959;
$light-grey-1: #8e8e8e;
$light-grey-2: #b2b2b2;
$super-light-grey: #eee;

$mega-dark-red: #2e1819;
$dark-red-1: #5d3133;
$dark-red-2: #8c494d;
$soft-dark-red-1: #b16c6f;
$soft-dark-red-2: #ca9a9d;

$light-red: #470005;
$light-red-1: #86000b;
$light-red-2: #d60001;
$soft-light-red-1: #ff1e31;
$soft-light-red-2: #ff6672;

